                        <ul class="press-logos">
                            <li>
                                <a href="https://fr.gaultmillau.com/restaurants/a-bracetto" target="_blank" rel="noopener noreferrer"><img src="/assets/images/logo_gm.png" alt="Gault&amp;Millau" class="press-logo" loading="lazy"></a>
                            </li>
                            <li>
                                <a href="https://www.sortiraparis.com/hotel-restaurant/cafe-tea-time/articles/319625-le-brunch-italien-d-a-braccetto-une-formule-quali-et-abordable-a-2-pas-du-luxembourg" target="_blank" rel="noopener noreferrer"><img src="/assets/images/logo_sortiraparis.png" alt="Sortir à Paris" class="press-logo press-logo--tall" loading="lazy"></a>
                            </li>
                            <li>
                                <a href="https://parissecret.com/pizzas-a-volonte-paris/" target="_blank" rel="noopener noreferrer"><img src="/assets/images/logo_parissecret.png" alt="Paris Secret" class="press-logo press-logo--thin" loading="lazy"></a>
                            </li>
                            <li>
                                <a href="https://www.lebonbon.fr/paris/actu/mini-pizzas-volonte-restaurant-italien-5e/" target="_blank" rel="noopener noreferrer"><img src="/assets/images/logo_lebonbon.svg" alt="Le Bonbon" class="press-logo" loading="lazy"></a>
                            </li>
                        </ul>