@font-face {
    font-family: tanlib;
    src: url('../font/TAN_LIEBE.otf');
}

@font-face {
    font-family: tanlib2;
    src: url('../font/TAN_LIEBE.ttf');
}

.tanlib {
    font-family: tanlib, tanlib2;
    font-size: 2.5em !important;
    letter-spacing: 0.1em;
}

#gmaps {
    width: 100%;
    height: 90%;
}
.logo{
    width: 6em;  
    height: auto;  
}

#topnav{
    position: fixed !important;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-left: 1em;
    transition: background 1s ease;
}
#navbarfade{
    /* position: fixed !important; */
    /* padding: 2em;
    transition: background 1s ease;
     */
}
.navbar-collapse { max-height: calc(100vh - 60px)!important; overflow-y: auto !important; }

#gallery{
    margin: 0.7em;
}
#lang{
    background-color: #7e7e7e; 
    font-family: "Hind Madurai", sans-serif;
    color: white;
    border-color: white;
}