@font-face {
    font-family: tanlib;
    src: url('../font/TAN_LIEBE.otf');
}

@font-face {
    font-family: tanlib2;
    src: url('../font/TAN_LIEBE.ttf');
}

.tanlib {
    font-family: tanlib, tanlib2;
    font-size: 2.5em !important;
    letter-spacing: 0.1em;
}

#gmaps {
    width: 100%;
    height: 90%;
}
.logo{
    width: 6em;  
    height: auto;  
}